<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Cadastro</mat-card-title>
    </mat-card-header>

    <form class="example-form">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nome">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Senha">
        </mat-form-field>



      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block">Cadastrar</button>
      <!-- <a [routerLink]="['/signin']" routerLinkActive="router-link-active" >Ja tem Cadastro? Faça Login</a> -->
    </form>
  </mat-card>
</div>
